h1 {
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.partials {
  display: flex;
  gap: 1rem;
}

.partial {
  min-width: 8rem;
  background-color: purple;
  padding: 1rem;
  border-radius: 8px;
}
