h1,
p {
  margin: 0;
}

body {
  margin-top: 6rem;
  color: #3a3a3a;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.selections {
  margin-block: 3rem;
  display: flex;
  gap: 5rem;
}

button {
  background-color: transparent;
  border: none;
  transform: scale(5);
  transition: all 0.3s ease-in-out;
}

button:hover {
  transform: scale(5.5);
  cursor: pointer;
}

button:active {
  transform: scale(2);
}

.partials {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-direction: row;
  align-items: flex-start;
  text-align: center;
}

.partial {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-wrap: break-word;
}

.container-partials, .partial-tie {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
  height: 5rem;
  background-color: rgb(184, 184, 184);
  padding: 1rem;
  border-radius: 5px;
}

.results-container {
  display: flex;
}

.result-selection {
  display: flex;
  flex-direction: row;
}

.container-partials,
.partial-tie {


.winner {
  margin-top: 0.4rem;
  text-align: center;
  background-color: rgb(42, 193, 90);
  border-radius: 5px;
}
